:root {
    --team-name-x: 1720px;
}

/* Ageta Chubby */
@font-face {
    font-family: "Ageta Chubby";
    src: url("../fonts/Ageta\ Chubby\ Demo.otf")
}

.main {
    font-family: "Alan Sans";
    background-image: url("static/background.png"); 
}

/* Team Background */
.team-background {
    top: 42px;
    height: 39px;
}

/* Team Name */
.team-name {
    top: 40px;
    font-size: 33px;
    width: 374px;
}