/* Main Page */
.main {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("static/background.png");
    width: 2560px;
    height: 1440px;
}

/* Absolute Center */
.absolute-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Logo */
.logo { top: 25px; }