/* Main Page */
.main {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("static/background.png");
    width: 2560px;
    height: 1440px;
}

/* Absolute Center */
.absolute-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Logo */
.logo { top: 25px; }

/* Showcase Round Text */
.showcase-round-text {
    font-size: 25px;
    font-family: "Alan Sans";
    color: rgb(162, 171, 240);
    font-weight: 700;
    position: absolute;
    left: 320px;
    top: 123px;
}